[data-theme='sal'] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-primary-100);
    --base-font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.22rem;
    --radius-base: 0rem;
    --radius-container: 0rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-500);
    --body-background-color-dark: var(--color-primary-500);
    --color-primary-50: oklch(97.79% 0.11 107.76deg);
    --color-primary-100: oklch(91.55% 0.11 99.42deg);
    --color-primary-200: oklch(85.22% 0.11 91.24deg);
    --color-primary-300: oklch(79.21% 0.12 82.88deg);
    --color-primary-400: oklch(72.92% 0.12 74.48deg);
    --color-primary-500: oklch(66.86% 0.13 65.61deg);
    --color-primary-600: oklch(59.79% 0.12 62.62deg);
    --color-primary-700: oklch(52.35% 0.11 58.06deg);
    --color-primary-800: oklch(44.89% 0.1 53.06deg);
    --color-primary-900: oklch(37.02% 0.1 46.28deg);
    --color-primary-950: oklch(29.09% 0.09 41.2deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-light);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(86.66% 0.05 300.15deg);
    --color-secondary-100: oklch(78.51% 0.09 303.57deg);
    --color-secondary-200: oklch(70.44% 0.13 304.44deg);
    --color-secondary-300: oklch(62.83% 0.17 303.81deg);
    --color-secondary-400: oklch(55.48% 0.2 302.75deg);
    --color-secondary-500: oklch(49.07% 0.23 300.46deg);
    --color-secondary-600: oklch(45.39% 0.21 299.6deg);
    --color-secondary-700: oklch(41.75% 0.19 298.26deg);
    --color-secondary-800: oklch(37.84% 0.17 296.27deg);
    --color-secondary-900: oklch(34.08% 0.15 293.97deg);
    --color-secondary-950: oklch(30.18% 0.13 291.16deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-light);
    --color-secondary-contrast-500: var(--color-secondary-contrast-light);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(90.73% 0.08 328.92deg);
    --color-tertiary-100: oklch(82.91% 0.13 339.68deg);
    --color-tertiary-200: oklch(76% 0.18 345.55deg);
    --color-tertiary-300: oklch(70.27% 0.23 350.68deg);
    --color-tertiary-400: oklch(66.48% 0.25 355.85deg);
    --color-tertiary-500: oklch(64.54% 0.26 2.48deg);
    --color-tertiary-600: oklch(59.37% 0.24 1.7deg);
    --color-tertiary-700: oklch(53.9% 0.22 0.5deg);
    --color-tertiary-800: oklch(48.45% 0.2 359.66deg);
    --color-tertiary-900: oklch(42.69% 0.17 357.71deg);
    --color-tertiary-950: oklch(36.93% 0.15 355.34deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(94.05% 0.09 178.66deg);
    --color-success-100: oklch(91.62% 0.1 178.6deg);
    --color-success-200: oklch(89.44% 0.11 177.16deg);
    --color-success-300: oklch(87.13% 0.12 176.9deg);
    --color-success-400: oklch(85.09% 0.13 175.45deg);
    --color-success-500: oklch(82.91% 0.13 174.95deg);
    --color-success-600: oklch(72.85% 0.12 175.7deg);
    --color-success-700: oklch(62.4% 0.1 175.99deg);
    --color-success-800: oklch(51.26% 0.08 178.28deg);
    --color-success-900: oklch(39.72% 0.06 179.74deg);
    --color-success-950: oklch(27.27% 0.04 185.29deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-light);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(92.3% 0.07 326.16deg);
    --color-warning-100: oklch(86.65% 0.09 338.35deg);
    --color-warning-200: oklch(81.23% 0.12 345.86deg);
    --color-warning-300: oklch(76.05% 0.15 351.92deg);
    --color-warning-400: oklch(71.3% 0.17 356.45deg);
    --color-warning-500: oklch(67.06% 0.2 1.08deg);
    --color-warning-600: oklch(60.46% 0.19 1.92deg);
    --color-warning-700: oklch(53.77% 0.18 3.04deg);
    --color-warning-800: oklch(47.04% 0.16 5.34deg);
    --color-warning-900: oklch(40.19% 0.15 7.8deg);
    --color-warning-950: oklch(33.23% 0.13 11.4deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-light);
    --color-warning-contrast-500: var(--color-warning-contrast-light);
    --color-warning-contrast-600: var(--color-warning-contrast-light);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(89.99% 0.04 14.04deg);
    --color-error-100: oklch(83.49% 0.07 19.81deg);
    --color-error-200: oklch(77.4% 0.11 21.98deg);
    --color-error-300: oklch(72.13% 0.15 24.9deg);
    --color-error-400: oklch(67.39% 0.19 26.71deg);
    --color-error-500: oklch(63.72% 0.22 28.71deg);
    --color-error-600: oklch(59.28% 0.21 28.53deg);
    --color-error-700: oklch(54.92% 0.2 28.58deg);
    --color-error-800: oklch(50.51% 0.19 28.72deg);
    --color-error-900: oklch(46.22% 0.18 28.88deg);
    --color-error-950: oklch(41.86% 0.17 29.23deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(100% 0 none);
    --color-surface-100: oklch(90.67% 0 none);
    --color-surface-200: oklch(81.41% 0 none);
    --color-surface-300: oklch(71.55% 0 none);
    --color-surface-400: oklch(61.67% 0 none);
    --color-surface-500: oklch(51.03% 0 none);
    --color-surface-600: oklch(44.95% 0 none);
    --color-surface-700: oklch(38.67% 0 none);
    --color-surface-800: oklch(32.11% 0 none);
    --color-surface-900: oklch(25.2% 0 none);
    --color-surface-950: oklch(17.76% 0 none);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-light);
    --color-surface-contrast-500: var(--color-surface-contrast-light);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}